<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>SearchMyMac</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.searchmymac.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Search My Mac</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.2.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.3</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Search My Mac.</string>
	<key>SMMEngineSigningRequirement</key>
	<string>identifier "com.searchmymac.app.engine"</string>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/udfalkso/search-my-mac/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>F4w1IxR4Il2Ld/j2gwDciFNsd5GeKF43ijqV20kYoHk=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUScheduledCheckInterval</key>
	<real>86400</real>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
